body
{
    background: rgb(115, 115, 115) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container
{
    width: 300px ;
    background: rgb(54, 54, 54);
    display: grid;
    grid-template-columns:  300px ;
    grid-template-rows: repeat(3, 100px );
    border-radius: 40px ;
    margin: 100px auto;
}
#container_name
{
    grid-column: 1 ;
    grid-row: 1  ;
    display: grid;
    grid-template-columns: 300px ;
    grid-template-rows: repeat( 2 , 50px ) ;


}
#name_dive
{
    grid-column: 1 ;
    grid-row: 1  ;
    font-size: 20px ;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 20px ;
}
#name_input_div
{
    grid-column: 1 ;
    grid-row: 2  ;
    font-size: 20px ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}






#container_Password
{
    grid-column: 1 ;
    grid-row: 2  ;
    display: grid;
    grid-template-columns: 300px ;
    grid-template-rows: repeat( 2 , 50px ) ;

}
#Password_dive
{
    grid-column: 1 ;
    grid-row: 1  ;
    font-size: 20px ;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 20px ;
}
#password_input_div
{
    grid-column: 1 ;
    grid-row: 2 ;
    font-size: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
}


#save_dive
{
    grid-column: 1 ;
    grid-row: 3 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#save
{
    width: 100px;
    height: 30px ;
    font-size: 15px ;
    border-radius: 20px ;
    border: none ;
}

