body
{
    background: rgb(147, 147, 147) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container
{
    width: 600px ;
    background: rgb(69, 69, 69);
    display: grid;
    grid-template-columns: repeat(2 , 300px) ;
    grid-template-rows: repeat(3, 100px );
    border-radius: 40px ;
    margin: 100px auto;
}
#title_show_greetings
{
    grid-column: 1 ;
    grid-row: 1  ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px ;
    color: white;
}
#name_user
{
    grid-column: 2 ;
    grid-row: 1  ;
    display: flex;
    align-items: center;
    font-size: 20px ;
    color: white;
    font-weight: bold; 
}
#role_users
{
    grid-column: 1 ;
    grid-row: 2 ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px ;
    font-weight: bold; 
}
#div_logout
{
    grid-column: 1 ;
    grid-row: 3 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button_logout
{
    width: 100px ;
    height: 50px;
    background: rgb(102, 102, 151);
    text-align: center;
    border: none ;
    cursor: pointer;
    border-radius: 40px ;
}
a
{
  text-decoration: none;
}